.THIS {
	position: relative;
	min-height: 180px;
	background: rgb(244, 246, 249);
}
.THIS.errormessages {
	min-height: 70px !important;
}

.THIS .control:focus{
	outline: none;
}
.THIS .uploader-btn{
	display: inline-block;
	vertical-align: top;
}
.THIS .button-container{
	position: absolute;
	right: 0.5em;
	top: 0.5em;
}
.THIS .uploader-no-images-btn{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	text-align: center;
	padding-top: 60px;
}
.THIS .slds-icon-action-upload{
	box-shadow: 0 4px 4px 0 rgba(0,0,0,.16);
}
.THIS .control{
	border-radius: 0;
	cursor: pointer;
	position: absolute;
	top: 0;
	bottom: 0;
	width: 30%;
	background: none;
	border: none;
	text-align: left;
	background: linear-gradient(to left, rgba(0, 0, 0 ,0) 0%, rgba(0,0,0,0) 70%, rgba(244, 246, 249, 0.5) 100%);
}
.THIS .control-next{
	right: 0;
	text-align: right;
	background: linear-gradient(to right, rgba(0, 0, 0 ,0) 0%, rgba(0,0,0,0) 70%, rgba(244, 246, 249, 0.5) 100%);
}
.THIS .control:hover, .THIS .control:focus{
	background: linear-gradient(to left, rgba(0, 0, 0 ,0) 0%, rgba(0,0,0,0) 50%, rgba(244, 246, 249, 0.5) 100%);
}
.THIS .control-next:hover, .THIS .control-next:focus{
	background: linear-gradient(to right, rgba(0, 0, 0 ,0) 0%, rgba(0,0,0,0) 50%, rgba(244, 246, 249, 0.5) 100%);
}

.THIS .delete-btn{
	display: inline-block;
	vertical-align: top;
	cursor: pointer;
	background: rgb(230, 113, 124);
	border-radius: 50%;
	padding: 0.4rem ;
	width: 36px;
	height: 36px;
	position: relative;
	text-align: center;
	overflow: hidden;
	margin-left: 0.5em;
}

.THIS .delete-btn .slds-icon-text-default{
	fill: white;
}
.THIS .delete-btn{
	opacity: 0.6;
}
.THIS .delete-btn:hover{
	opacity: 1;
}
.THIS .delete-btn > label{
  cursor: pointer;
 }
.THIS .toggle-area{
	width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.THIS .img-placeholder{
	min-width: 50px;
	min-height: 180px;
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background: rgba(0, 105, 144, 0.4);
}
.THIS .img-placeholder:before, 
.THIS .img-placeholder:after{
	position: absolute;
	content: "";
	display: block;
	background: rgba(255, 255, 255, 0.5);
}
.THIS .img-placeholder:before {
	top: 5%;
	padding-bottom: 20%;
	width: 20%;
	left: 5%;
	border-radius: 100%;
}
.THIS .img-placeholder:after {
	-webkit-transform: translateY(20%) rotate(-45deg);
	-moz-transform: translateY(20%) rotate(-45deg);
	-ms-transform: translateY(20%) rotate(-45deg);
	-o-transform: translateY(20%) rotate(-45deg);
	transform: translateY(20%) rotate(-45deg);
	-webkit-transform-origin: right 50%;
	-moz-transform-origin: right 50%;
	-ms-transform-origin: right 50%;
	-o-transform-origin: right 50%;
	transform-origin: right 50%;
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	width: 300%;
}
.THIS.hide-buttons .button-container{
	display: none;
}